.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cabinet Grotesk;
  font-size: 16px;
}

.modal__content {
  background-color: #ffffff;
  width: 380px;
  height: 372px;
  border-radius: 20px;
  padding: 28px 28px 36px;
  position: relative;
}
.modal__title {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__input {
  display: block;
  border: none;
  padding: 0;
  border-bottom: 1px solid black;
  width: 100%;
}
.modal__label-input {
  margin-top: 24px;
}
.modal__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin-top: 24px;
}
.modal__legend {
  margin-bottom: 12px;
}
.modal__label_type_radio {
  gap: 8px;
}
.modal__close {
  position: absolute;
  right: 28px;
  top: 20px;
  background-image: url("src/assets/close_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.button__container {
  min-height: 68px;
  position: relative;
}

.modal__submit-button {
  position: absolute;
  bottom: 0;
}
