.header {
  display: flex;
  align-items: center;
  padding: 32px 0px 28px;
}
.header__logo {
  margin: 0;
  margin-right: 24px;
}
.header__date-and-location {
  margin: 0;
}
.header__add-clothes-btn {
  margin-left: auto;
  border: none;
  margin-right: 20px;
}
.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__username {
  margin: 0;
}
.header__avatar {
  margin: 0;
}
